.live_list_container{
    background: #F4F4F4;
    .slider-frame{
        height: 35vh !important;
    }
    .swiper_con{
        height: 100%;
        position: relative;
        height: 30vh !important;
        img{
            width: 100%;
            height: 100%;
        }
        .bottom_desc_con{
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-image: linear-gradient(-180deg,rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 85%);
            color: #fff;
            right: 0px;
            .descText{
                margin-bottom: 12px;
                margin-left: 6px;
            }
            .LinesEllipsis{
                font-size: 18px;
                margin-left: 6px;
                margin-bottom: 6px;
            }
        }
    }
    .live_ele_container{
        display: flex;
        height: 120px;
        /* margin-bottom: 6px; */
        padding: 20px;
        background: #fff;
        margin-bottom: 4px;
        .live_ele_left{
            width: 46%;
            padding: 0px 6px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
            .live_ele_left_desc_con{
                position: absolute;
                bottom: -3px;
                left: 1px;
                right: 0px;
                width: calc(100% - 7px);
                color: #fff;
                .live_ele_left_desc{
                    font-size: 12px;
                    margin-bottom: 4px;
                    margin-left: 5px;
                    display: inline-block;
                    padding: 1px 7px;
                    background: rgba(38,38,38,0.6);
                    border-radius: 0px;
                }
            }
        }
        .live_ele_right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 54%;
            padding: 6px;
            .live_ele_right_ele1{
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
