
.news_list_container{
	background: #F4F4F4;
    height: 100%;
    overflow: scroll;
    // padding-bottom: 20vh;
	.news_list_carousel_con{
		img{
			height: 178px;
			width: 100%;
		}
	}
	.news_list_news_con{
		background: #fff;
		padding: 6px 20px 15px 20px;
		margin-bottom: 4px;
		.news_list_news_ele_title{
			font-size: 16px;
			font-weight: 400;
			color: #262626;
			line-height: 22px;
			margin-bottom: 5px;
		}
		.news_list_news_ele_desc{
			display: flex;
			color: #CBCBCB;
			font-size: 12px;
			.news_list_news_ele_desc_read{
				margin-right: 10px;
			}
		}
	}
	.news_list_news_con_list{
		display: flex;
		padding: 15px 20px;
		background: #fff;
		margin-bottom: 4px;
		.news_list_news_con_list_left{
			flex-grow: 1;
			.news_list_news_ele_title{
				font-size: 16px;
				font-weight: 400;
				color: #262626;
				line-height: 22px;
				margin-bottom: 5px;
			}
			.news_list_news_ele_desc{
				display: flex;
				color: #CBCBCB;
				font-size: 12px;
			}
			.news_list_news_ele_desc_read{
				margin-right: 10px;
			}
		}
		.news_list_news_con_list_right{
			flex-shrink: 0;
			margin-left: 19px;
			width: 112px;
			height: 72px;
			img{
				height: 100%;
    			width: 100%;
			}
		}
	}
}