.live_container{
    position: relative;
    height: 100%;
    overflow: scroll;
    .video_con{
        position: relative;
        #videoElement{
            width: 100vw !important;
            object-fit: fill;
            min-height: 36vh;
        }
        .count_down_con{
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            color: #fff !important;
            background: #00000080;
            span{
                position: absolute; 
                left: 50%; 
                top: 50%; 
                transform: translate(-50%,-50%);
                font-size: 24px;
            }
        }
    }
    .info_con{
        padding: 0px 12px;
        .info_con_top{
            margin-top: 12px;
            .info_con_title{
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 6px;
            }
        }
        .info_con_bottom{
            margin-top: 12px;
            .info_con_bottom_right_tap{

            }
            .info_con_bottom_left_tap{

            }
            .desc_img{
                width: 100%;
                padding-top: 6px;
                box-sizing: border-box;
            }
            .tap{
                width: 50%;
                display: inline-block;
                text-align: center;
                height: 38px;
                background: #fff ;
                line-height: 38px;
                border: 1px solid #108ee9;
                color: #000;
                box-sizing: border-box;
            }
        }
    }
}
